.container {
    display: flex;
    justify-content: space-around;
}

.navLink {
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    background-color: aquamarine;
    border-radius: 15px;
}

.linkPage {
    color: rgb(223, 16, 16);
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 5px;
}